.body-background {
    background-image: url(../Images/bg-grass.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}